*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: #f5f5f5;
}

.header{/*'menu' e barra de pesquisa*/  
    background-color: #f44336;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center{/*container do card*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.poke-card{/*card do pokemon*/
    background-color: #fff;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tipo .habilidades .geral{ /*divs do card*/
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul li{
    list-style: none;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
div img{ /*imagem do pokemon*/
    width: 400px;
    height: 400px;
}

.geral h2{
    color: #f44336;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 10px;
}